body {
	margin: 0;
	color: #7e8487;
}
.container {
	margin: 0 auto;
	max-width: 1140px;
	background: #f5f2f0;
}
header {
	padding: 20px 15px;
    background-color: #8bd1f2;
}
#actions {
	padding: 20px 15px;
	text-align: center;
}
h1 {
	text-align: center;
	margin: 0;
}
input {
	min-width: 70%;
	padding: 5px;
    border: 2px solid #8bd1f2;
}
button {
	padding: 5px;
    background-color: #8bd1f2;
	border: 2px solid #8bd1f2;
}
button:hover {
	transition: 0.5s all;
	border-color: #7e8487;
	cursor: pointer;
}
.revBtn {
    background-color: orange;
    border-color: orange;
}
ul {
  margin: 0;
  padding: 0;
}
li {
	position: relative;
	margin-bottom: 5px;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #8bd1f2;
	font-size: 18px;
}
.litext {
	margin-left: 10px;
}
.remove {
	position: absolute;
	top: 0;
	right: 0;
	padding: 13px 16px 13px 16px;
}
.remove:hover {
	cursor: pointer;
	transition: all 0.5s;
	background-color: #f44336;
	border: 2px solid #f44336;
	color: white;
}
.edit {
	position: absolute;
	top: 0;
	right: 42px;
	padding: 12px 14px 12px 14px;
}
.edit:hover {
	cursor: pointer;
	transition: all 0.5s;
	background-color: #f44336;
	border: 2px solid #f44336;
	color: white;
}
.finish {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 14px 12px 14px;
}
.finish:hover {
	cursor: pointer;
	transition: all 0.5s;
	background-color: lightgreen;
	border: 2px solid lightgreen;
	color: white;
}

