h1, h2, h3, p {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.app {
  background-color: #ebe5e5;
}
.logo {
  color: white;
}
.logo h1 {
  font-size: 42px;
}
.logo p {
  font-size: 18px;
}
.header-container ul {
  display: flex;
}
.header-container ul li {
  margin-right: 10px;
  font-size: 18px;
}
.header-container a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.header-container a:hover {
  color: orange;
  transition: all 0.2s;
}
.App-header, footer {
  background-color: #4196e0;
}
.footer-container, .header-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.contact-phone, .contact-mail, .contact-social {
  display: flex;
}
.footer-icon .fa {
  color: #4196e0;
  padding: 10px;
  border: 1px solid #eae5e5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #eae5e5;
}
.footer-info {
  margin-left: 20px;
}
.footer-info p {
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}
.footer-info a {
  color: white;
}
.footer-info a:hover {
  color: orange;
  transition: all 0.2s;
}
.social-media .fa {
  margin-right: 15px;
}
.home-container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.home-photo img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 380px;
  max-height: 380px;
  object-fit: cover;
  filter: grayscale(60%);
}
.home-info h2 {
  font-size: 80px;
  color: #4D4D4D;
  font-family: "Times New Roman", sans-serif;
}
.home-info h3 {
  font-size: 46px;
  color: #4D4D4D;
  font-family: "Times New Roman", sans-serif;
}
.home-info p {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 17px;
  max-width: 500px;
}
.home-info ul {
  display: flex;
}
.home-info a {
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: white;
}
.home-info a:hover {
  transition: all 0.5s;
  filter: contrast(200%);
  color: #4D4D4D;
  font-weight: bold;
}
.resume-link a {
  background-color: #e83555;
}
.skills-link a {
  background-color: #60d1d5;
}
.contacts-link a {
  background-color: #d2c927;
}
.resume-container, .contact-container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 980px;
}
.resume-container h2 {
  margin-bottom: 20px;
  font-size: 80px;
  color: #4D4D4D;
  font-family: "Times New Roman", sans-serif;
}
.resume-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.resume-content h3 {
  font-size: 80px;
  color: #4D4D4D;
  font-family: "Times New Roman", sans-serif;
}
.resume-info {
  margin: 0;
  padding: 0;
}
.resume-info li {
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-top: 1px solid #8b8b8b;
}
.resume-info span {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  padding: 5px;
  background-color: #4196e0;
  border-radius: 50%;
  line-height: 100px;
  color: white;
}
.resume-info p {
  max-width: 500px;
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: #4D4D4D;
}
.resume-sidebar {
  color: #4D4D4D;
}
.resume-sidebar h5 {
  font-size: 18px;
}
.resume-sidebar ul {
  padding: 0;
}
.skills-list {
  margin-bottom: 20px;
}
.skills-list, .language-list {
  padding-top: 20px!important;
  border-top: 1px solid #8b8b8b;
}
.resume-sidebar .fa {
  width: 60px;
  height: 60px;
  background-color: #4196e0;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}



.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.contact-container h2 {
    margin-bottom: 20px;
    font-size: 80px;
    color: #4D4D4D;
    font-family: "Times New Roman", sans-serif;
}
.contact-list .social {
  margin-bottom: 20px;
}
.contact-list .social .fa {
  background-color: #4195e0;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}
.contact-list .social .fa:hover {
  background-color: orange;
  transition: all 0.2s;
}
.contact-list .phone {
  display: flex;
  flex-direction: column;
}
.contact-list .phone a {
  margin-bottom: 5px;
  font-size: 14px;
  color: #4D4D4D;
}
.contact-list .phone a:hover {
  color: orange;
  transition: all 0.5s;
}
.contact-right-part p {
  margin-bottom: 20px;
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: #4D4D4D;
}
.contact-right-part form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-right-part form input, textarea{
  padding: 5px;
  margin: 0 0 20px 0;
  width: 400px;
  border: 1px solid #4196e0;
  background-color: #4196e0;
  color: white;
  font-size: 14px;
}
.contact-right-part form textarea {
  min-height: 120px;
}
input[type=submit] {
  cursor: pointer;
  height: 30px;
  width: 95px!important;
}
.contact-right-part form input:last-child {
  float: right;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}