h1, h2, h3, p {
  margin: 0;
}
.logo {
  color: white;
}
.logo h1 {
  font-size: 42px;
}
.logo p {
  font-size: 18px;
}
.header-container ul {
  list-style: none;
  display: flex;
}
.header-container ul li {
  margin-right: 10px;
  font-size: 18px;
}
.header-container a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.header-container a:hover {
  color: orange;
  transition: all 0.2s;
}
.App-header, footer {
  background-color: #4196e0;
}
.footer-container, .header-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.contact-phone, .contact-mail, .contact-social {
  display: flex;
}
.footer-icon .fa {
  color: #4196e0;
  padding: 10px;
  border: 1px solid #eae5e5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #eae5e5;
}
.footer-info {
  margin-left: 20px;
}
.footer-info p {
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}
.footer-info a {
  color: white;
  text-decoration: none;
}
.footer-info a:hover {
  color: orange;
  transition: all 0.2s;
}
.social-media .fa {
  margin-right: 15px;
}
.home-container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1170px;
  display: flex;
  align-items: center;
}
.home-photo img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 380px;
  max-height: 380px;
  object-fit: cover;
}